body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
body{line-height:1.231;font-size:12px;color:#333;font-family:Arial,Tahoma,sans-serif}
ul,ol,dl,menu,li{list-style:none}
object{outline:0}
button{border:0 none;background-color:transparent;cursor:pointer}
h1,h2,h3,h4,h5,h6{font-size:12px}
a{color:#333;cursor:pointer;text-decoration:none}
a:focus{-moz-outline-style:none}
input,select,textarea{vertical-align:middle;font-family:inherit}
form{margin:0;padding:0}
fieldset{min-width:0;margin:0;padding:0;border:none 0 transparent}
img{vertical-align:top;border:0 none}
textarea{color:#333;border:1px solid #bebdbd;border-color:#bebdbd #d4d3d3 #d4d3d3 #bebdbd;background-color:#fff;padding:2px 3px 0 2px}
select{padding:0 1px 0 0;font-size:inherit}option{padding-right:.7em}
iframe{display:block}
address,caption,cite,code,dfn,em,var,i,dfn{font-style:normal}
html, body {
  height: 100%;
  width: 100%;  
  overflow: hidden;
}
body{
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50%;
}
body:after{
  content:"";
  position:fixed;
  top:0;
  right:0; 
  bottom:0;
  left:0;
  z-index:-1;
  background-color:rgba(255,255,255,.5);
}
.hidden{display:none;}
#bg{
  position:absolute; top:50%; left:0; z-index:1;
  transform:translate(0, -50%);
  max-width:50vw;
  opacity: 0.7;
}
#bg img{
  max-width:100%;
}
#loginform{text-align:center;}
#loginform input{
  border:none; border-bottom:1px solid #000; outline:transparent;
  background:none;
  width:200px; height:28px; 
  font-size:14px;
}
#loginform button{
  border:none; 
  background:none;
  height:28px; 
  font-size:14px;
}
#greeting{
  font-size:16px; text-align:center;
}
#clock{
  margin:50px 0; line-height:1;
  text-align:center; font-size:70px; color:#fff;
  text-shadow:1px 1px 3px black;
}
#quotes{
  position: absolute; bottom: 100px; left: 0; right: 0;
  text-align: center;
  font-size: 14px;
  font-weight:600;
}
#weather{
  position: absolute;
  bottom: 150px;
  right: 0;
  font-size: 14px;
  color: #fff;
  left: 0;
  text-align: center;
  text-shadow: 0 0 black;
}
#weather span{
  background-color: rgba(0,0,0,.3);
  border-radius: 20px;
  padding: 10px;
  margin: 0 10px;
}
#todo{
  position: absolute; top: 300px; right:100px;
  width:30vw;
}
#todoform input{
  border:none; border-bottom:1px solid #000;   outline:transparent;
  background:none;
  width:100%; height:28px; 
  font-size:14px;
}
#todolist{
  margin:30px 0 0;
  background-color: rgba(255,255,255,.6);
  padding: 10px;
  border-radius: 10px;
  min-height:100px;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.3);
}
#todolist input{margin-top:2px;}
#todolist input:checked + span{
  text-decoration:line-through;
}
#todolist li{  
  display:flex; column-gap:5px; align-items:flex-start;
  margin:5px; font-size:14px;
  background-color: rgba(255,255,255,.6);
  padding: 10px;
  border-radius: 10px;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.3);
}
#todolist button{
  position:relative;
  width:16px; height:16px; vertical-align:middle;
  font-size:0;
}
#todolist button:before, #todolist button:after{
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #666;
  height: 100%;
  width: 2px;
}
#todolist button:after{
  transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@media screen and (max-width: 720px) {
  #bg {
    position: static;
    transform: translate(0, 0);
    margin: 0 auto;
    max-width: 35vw;
  }
  #todo {
    position: static;
    margin: 0 auto;
    width: 60vw;
  }
}